table {
	font-family: "Marker Felt", "Comic Sans MS", fantasy;
	color: #003366;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	border-collapse: collapse;
	cellspacing: 0px;
}

tr {
	border: 1px solid #000000;
	text-align: center;
	background-color:#9000ff; 
	background-image: images/duck.png;
}

th {
	text-align: center;
	color: #ffffff;
	background-color: #003366;
}

ul {
	color: #e50e0e;
	text-align: center;
}

ol {
	color: #9000ff;
	text-align: center;
}

h3 {
	text-align: center;
}