#slider-nav {
  margin-top:1em;
}

#slider-nav button {
    padding:1em;
    margin-right:1em;
    border-radius:10px;
    cursor:pointer;
}

.slider {
    width:inherit;
    height:220px;
    overflow: hidden;
}

.slider ul {
    width:880px;
    list-style: none;
}

.slider li {
    float:left;
}